
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    font-size: medium;
}
:root{
    --main-color: #D83F87;
    --hover-color: hsl(5,90%,70%);
    --body-color:#2A1B3D;
    --container-color:#44318D;
    --text-color:#fcfeff;
}
  .h3{
    padding:15px;
    text-align: left;
    color: var(--text-color);
}
.h3:hover{
    color: var(--main-color);
}
#movie-backdrop {
    width: 100%;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

 div .moviediv {
    padding-top:2%;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 0.3srem;
}
a{
 text-decoration: none;
}
body{
background: var(--body-color);
color: var(--text-color);
}
img{
 width: 100%;
}
.bx{
    cursor: pointer;
}
.search-box{
   max-width:270px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background-color: var(--container-color);
    border-radius: 4rem;
}
.search-box .bx{
    font-size: 1.1rem;
    
}
.search-box .bx:hover{
    color: var(--hover-color);

}
.search-box input{
    width: 100%;
    border:none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.999rem;
}


nav {
    width:90%;
    position: sticky;
    align-content: center;
    top:1%;
    left:5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.2rem;
    border-width: 0;
    border:0;
    border: none;

}
nav .container-fluid{
    border: none;
    border: 0;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
    font-size: 1.1rem ;
}
nav ul li a{
	color: var(--text-color);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
    
}
nav ul li a:hover{
	color: var(--main-color);
	transition: .4s;
}
.btn{
	background-color:var(--main-color);
	color: var(--text-color);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.1);
}



.card{
	
	border:--hover-color;
  box-shadow: 6px 6px 4px 4px rgba(71, 61, 61, 0.2);
	margin: 10px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card-title{
    font-size: 12px;
	display: flex;
	justify-content: end;
 
	
}
.card-text{
    font-size: 18px;
    text-align: left;
    margin-top:  10px;
}

#actors {
    margin: 24px 16px 0 0;
}

.btn{
    cursor: pointer;
}
.btn:hover{
    color: var(--container-color);
}
.card-title{
color: var(--text-color);
}
.card-title:hover{
    color: var(--text-color); 
}
.card-body{
    background: var(--body-color);
}

.card:hover{
    transform: scale(1.1);
}
footer{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    
}
.row{
    padding-top:2%;
    padding-bottom: 2%;
    padding: 0.3srem;
}

